# Lesson 4: Manipulating DataFrames with pandas

These notes are based on the sequence that concepts are introduced in the DataCamp lesson of the same name. They are most useful as a reference, after you've completed the DataCamp lesson. They are not intended to replace that lesson.

[View this lesson on DataCamp](https://learn.datacamp.com/courses/manipulating-dataframes-with-pandas)

## Chapter 1

### Indexing & Slicing DataFrames 

| Concept/Command |  Operation                                                   |
|----------|--------------------------------------------------------------|
| `df['column']['row']`      |  slice specified DataFrame (df) section--note the square brackets around each    |
| `.loc`      |  · uses labels ['row,', 'column'] | 
|  | · Can use labels for slicing - right end point is inclusive |
|  | · Can also use lists instead of slices |
|  | · ['b' : 'a' :-1] will slice from a to b in reverse order     |
| `.iloc `      |  · uses numeric indexes | 
|  | · [1:5] first number is inclusive, second number is exclusive

### Practice:

Import `numpy` as `np`, and `pandas` as `pd`:

In [1]:
import numpy as np
import pandas as pd

The DataFrame below contains the mean number of hugs, kisses, and barks, per week over the last two months, from five puppies:

In [3]:
# Run this cell as is to define the DataFrame "puppies" 

puppies = pd.DataFrame({'hugs': [5, 8, 2, 10, 8],
                      'kisses': [7, 9, 4, 13, 8],
                      'barks': [21, 15, 33, 5, 32]},
                       index=['Rascal', 'Coco', 'Benji', 'Zinnia', 'Greta'])

Print the DataFrame `puppies`:

In [4]:
print(puppies)

        hugs  kisses  barks
Rascal     5       7     21
Coco       8       9     15
Benji      2       4     33
Zinnia    10      13      5
Greta      8       8     32

Just for fun, output the DataFrame `puppies` without `print` (i.e., just type the DataFrame's name) to view it as a formatted table:

Beauty. Print its dimensions using the method `.shape`

Thought question: In the output immediately above, which number represents rows and which represent columns?

In the next few cells, answer each respective question by slicing and printing portions of the `puppies` DataFrame:

In [4]:
# How many kisses did Zinnia give?

print(puppies['kisses']['Zinnia'])

13

In [5]:
# How many kisses did Greta give?

In [6]:
# How many hugs did Rascal give?

In [7]:
# How many hugs did Benji give?

In [8]:
# How many times did Coco bark?

In [9]:
# How many times did Zinnia bark?

In the next few cells, practice using `.loc` to answer each respective question:

In [10]:
# How many hugs did Benji give?

print(puppies.loc['Benji', 'hugs'])

2

In [11]:
# How many hugs did Rascal give?

In [12]:
# How many kisses did Coco give?

In [13]:
# How many times did Zinnia bark?

In [5]:
# How many hugs and kisses did Zinnia give?

print(puppies.loc['Zinnia' , ['hugs', 'kisses']])

hugs      10
kisses    13
Name: Zinnia, dtype: int64

In [15]:
# How many kisses did Greta give, and how many times did she bark?

In [16]:
# How many hugs did Rascal and Coco each give?

In [17]:
# How many times did Rascal, Benji, and Greta bark?

In [18]:
# How many hugs did Coco, Zinnia, and Greta each give, and how many times did each of them bark?

In the next few cells, practice using `.iloc` to answer each respective question (note: remember python's zero-indexing):

In [6]:
# How many hugs did Benji give?

print(puppies.iloc[2 , 0])

2

In [20]:
# How many kisses did Coco give?

In [21]:
# How many times did Rascal bark?

In [22]:
# How many kisses did Zinnia and Greta each give, and how many times did they each bark?

In [23]:
# How many hugs did Rascal give, kisses did Benji give, and times did Benji bark?

#

### Filtering DataFrames
|           |                                       |
|-----------|---------------------------------------|
| `Boolean Filters` |   Can be combined using standard logical operators | 
|  | · `&` (*and*)  |
|  | · <code>&#124;</code> (*or*) |
| `.all()`  |  selects columns that contain all non zero values |
| `.any()`  |  selects columns that have any non zero values |
| `.isnull()`  |  identifies NaN values (chained with .all() or .any()) |
| `.notnull()`  |  identifies non NaN values (chained with .all() or .any()) |
| `.dropna(how='any')`  |  drops rows with any NaNs |
| `.dropna(how='all')`  |  drops rows with all NaNs |

### Practice:

Run the following cell to broadcast a new column to the DataFrame `puppies`:

In [7]:
puppies['tricks'] = [1, 6, 0, 9, 0]

Print the updated `puppies` DataFrame:

View the DataFrame in all its formatted glory by typing its name and running the cell without `print`:

In the next few cells, use Boolean filters to answer the following questions:

In [8]:
# Which puppies gave more than 6 hugs?

print(puppies[puppies['hugs'] > 6])

        hugs  kisses  barks  tricks
Coco       8       9     15       6
Zinnia    10      13      5       9
Greta      8       8     32       0

In [26]:
# Which puppies gave fewer than 6 kisses?

In [27]:
# Which puppies barked more than 10 times, and fewer than 20 times?

In [28]:
# Which puppies did any tricks?

Use `.all()` to see which columns have all non-zero values (i.e., contain no zeros):

Use `.any()` to see which columns have any non-zero values:

Though question: Look at the Boolean value for 'tricks' in the two outputs above. Why are they different?

## Chapter 2

|           |                                       |
|-----------|---------------------------------------|
| Vectorized functions |   Built in functions, loop over data more efficiently     |
| | `.map()` performs transformations element wise according to a python dictionary |
| | `.apply` used on a pandas df to apply a python function to every element |

|           |                                       |
|-----------|---------------------------------------|
| Indexes |   · Immutable - if you want to change the index, have to change the whole thing     |
| | · Homogeneous in data type |
| | `.index()` can index and slice from the index just like any other python list |
| | `.name` can assign a name label to an index |
| | · Can assign the index by assinging a column to `df.index` |
| Hierarchical Indexes | · Multi-level index |
| | · create using `.set_index()` with an ordered list of column labels as input |
| | `.sort_index()` use to sort the index | 
| | `slice(None)` use for the outer levels when trying to slice only innermost dimensions of the hierarchical index

###

### Show & Tell (...or, Tell & Show, I guess):

We're going to use `.map` with a dictionary. First, run the next cell to create a clunky new dictionary (we'll explore better ways later):

In [9]:
dict = {0:'No', 1:'Yes', 2:'Yes', 3:'Yes', 4:'Yes', 5:'Yes', 6:'Yes', 7:'Yes', 8:'Yes', 9:'Yes'}

Broadcast a new column and `.map` the dictionary values:

In [10]:
puppies['trickster'] = puppies['tricks'].map(dict)

Output the `puppies` DataFrame (without `print`) to see your new column:

In [11]:
puppies

        hugs  kisses  barks  tricks trickster
Rascal     5       7     21       1       Yes
Coco       8       9     15       6       Yes
Benji      2       4     33       0        No
Zinnia    10      13      5       9       Yes
Greta      8       8     32       0        No

Which column is the index column? Let's print it using `.index` (note, no `()` this time):

In [12]:
print(puppies.index)

Index(['Rascal', 'Coco', 'Benji', 'Zinnia', 'Greta'], dtype='object')

To ensure that this DataFrame is easily understood by anyone who views it, let's assign a name to our index column by chaining `.index` and `.name`. The column contains the puppies' names, so let's name it 'name':

In [14]:
puppies.index.name = 'name'

Output the DataFrame again and see the difference. Note the position of the column headers now:

Print the column names using `.columns`. Note that the output includes the column names of all the data columns, and not the index column entitled 'name':

OK, let's say that what we really want to do is to sort the puppies into two key categories--those who do tricks, and those who don't--while maintaining all of the other information. The 'trickster' column is handy, but it would be nice to reorganize the data in a more meaningful format. Here's where we benefit from a hierarchical index. <br><br>
Let's use `.reset_index()` to convert the index column ('name') into a data column just like the rest. For reasons we'll discuss later, let's assign the resulting DataFrame to a new name `pups_hier`:

In [17]:
pups_hier = puppies.reset_index()

Output the DataFrame `pups_hier`:

Use `.index` again to print the new index values:

Use `.columns` again to print the updated column names:

Cool. Time to get all hierarchical. We'll use `.set_index()`, and pass it an ordered list of column names. The first column name in the list will be the outermost index column, and the second will be the second. We ultimately want all the names sorted by trickery. We'll include the `inplace=True` argument to update the current DataFrame (versus outputting a new one that we'd have to reassign to another variable name):

In [21]:
pups_hier.set_index(['trickster', 'name'], inplace=True)

Output `pups_hier` again to see the change:

We now have the hierarchical index we want, but it's cluttered. Let's tidy it up with `.sort_index()`, including the argument `inplace=True`:

In [23]:
pups_hier.sort_index(inplace=True)

Output `pups_hier` to see the change:

This is good, but because we're mainly interested in the tricksters, it would be more intuitive to display them above the non-tricksters. Let's sort the index again, this time with the argument `ascending=False` and again with `inplace=True` to lock it in:

In [25]:
pups_hier.sort_index(ascending=False, inplace=True)

Output `pups_hier` one last time:

Niiiice. Now that's an informative DataFrame. Now let's slice out some rows:

Let's use `.loc` to produce the following outputs:

In [42]:
# All the tricksters
# Note the format: DataFrame.loc['rows', 'columns']...it just so happens that we want all the columns, 
# so we can leave columns unspecified. Alternatively, though less efficiently, we could write `pups_hier.loc['Yes', :]`

pups_hier.loc['Yes']

        hugs  kisses  barks  tricks
name
Zinnia    10      13      5       9
Rascal     5       7     21       1
Coco       8       9     15       6

In [28]:
# Both non-tricksters

pups_hier.loc['No']

       hugs  kisses  barks  tricks
name
Greta     8       8     32       0
Benji     2       4     33       0

In [43]:
# Just Zinnia
# Note the format: DataFrame.loc['outer_index', 'inner_index']...and again, columns unspecified. 
# If we were to specify columns this time, we'd need to group the index levels together with parentheses 
# like this: DataFrame.loc[('Yes', 'Zinnia'), :]

pups_hier.loc['Yes', 'Zinnia']

hugs      10
kisses    13
barks      5
tricks     9
Name: (Yes, Zinnia), dtype: int64

In [30]:
# Just Benji

pups_hier.loc['No', 'Benji']

hugs       2
kisses     4
barks     33
tricks     0
Name: (No, Benji), dtype: int64

Using the cells above as reference, complete the next three on your own:

In [ ]:
# Just Coco

In [ ]:
# Just Rascal

In [ ]:
# Just Greta

Cool. Now let's select some specific values from single rows:

In [32]:
# Zinnia kisses
# Note the format: DataFrame.loc[('outer_index', 'inner_index'), 'column']

pups_hier.loc[('Yes', 'Zinnia'), 'kisses']

13

In [33]:
# Greta hugs

pups_hier.loc[('No', 'Greta'), 'hugs']

8

Think you've got it? Go!

In [ ]:
# Rascal tricks

In [132]:
# Coco hugs

In [ ]:
# Zinnia tricks

Let's get multiple, but not all, values from single rows. We'll do the first one together, then you go:

In [49]:
# Zinnia hugs and kisses
# Note the same overall format as before: DataFrame.loc[rows, columns]
# ...just with parentheses to group row info and column info.
# Note the specific format: DataFrame.loc[('outer_index', 'inner_index'), ('column', 'other_column')]

pups_hier.loc[('Yes', 'Zinnia'), ('hugs', 'kisses')]

hugs      10
kisses    13
Name: (Yes, Zinnia), dtype: int64

In [ ]:
# Rascal hugs and tricks

In [ ]:
# Coco kisses and tricks

In [ ]:
# Benji hugs and kisses

Cool. Now let's do two whole rows at a time from the same outer index:

In [58]:
# Zinnia and Rascal
# Note the format: DataFrame.loc[('outer_index', ['inner_index', 'other_inner_index']), 'column']
# Here, we have to specify the columns to ensure the commas will be correctly interpreted.

pups_hier.loc[('Yes', ['Zinnia','Rascal']), :]

                  hugs  kisses  barks  tricks
trickster name
Yes       Zinnia    10      13      5       9
          Rascal     5       7     21       1

Follow this convention and do some on your own:

In [ ]:
# Zinnia and Coco

In [ ]:
# Greta and Benji

Now let's yoink full rows from different outer indexes:

In [59]:
# Zinnia and Benji

pups_hier.loc[[('Yes', 'Zinnia'), ('No','Benji')]]

                  hugs  kisses  barks  tricks
trickster name
Yes       Zinnia    10      13      5       9
No        Benji      2       4     33       0

In [60]:
# Rascal and Greta

In [63]:
# Coco and Benji

In [64]:
# Challenge:
# Coco, Greta, and Benji

Don't worry about slicing specific column data from specific rows within different outer indexes at this point. You've sliced plenty for now. <br> Just one last nugget of information before moving on--the `slice(None)` argument. Read and run the following two cells:

In [79]:
# This works:
# Zinnia and Benji

pups_hier.loc[[('Yes', 'Zinnia'), ('No','Benji')]]

                  hugs  kisses  barks  tricks
trickster name
Yes       Zinnia    10      13      5       9
No        Benji      2       4     33       0

In [85]:
# And this does the same thing, using `slice(None)` to bypass the outer index, 
# and then passing an ordered list of row index names.

pups_hier.loc[(slice(None), ['Zinnia', 'Benji']), :]

                  hugs  kisses  barks  tricks
trickster name
Yes       Zinnia    10      13      5       9
No        Benji      2       4     33       0

###

## Chapter 3
Reshaping DataFrames

|           |                                       |
|-----------|---------------------------------------|
| `.pivot()` | allows for reshaping of the data |
| | `index=` specify which column to use a index |
| | `columns=` specify which to use as columns |
| | `values=` specify which variable will populate the values in the cells |
| `.unstack()` | moves the second level of the index to the columns |
| | `level=` can be str or an integer |
| `.stack()` | moves a level of the hierarchical columns to the index | 
| | `level=` (same as above)
| `.swaplevel()` | used to switch index levels, input index numbers |
| `pd.melt` | restores a pivoted dataframe to its original form |
| | `id_vars` - specify columns to remain in reshaped df |
| | `value_vars=` specify which columns to turn into values |
| | `value_name=` assign name to value column |
| `.pivot_table` | allows you to see your variables as a function of 2 other variables |
| | Same arguments as with `.pivot()` |
| | `aggfunc=` argument to specify aggregation functions |
| | `margins=True` adds totals into the margins |

###

### Practice:

Let's zoom in on our tricks data: <br>
First, we'll reset the indexes with `.reset_index` and assign a new variable name so we don't overwrite our original. We're going to come back to it in a bit.

In [106]:
pups_tricks = pups_hier.reset_index()

Output `pups_tricks` to check it:

In [107]:
pups_tricks

   index trickster    name  hugs  kisses  barks  tricks
0      0       Yes  Zinnia    10      13      5       9
1      1       Yes  Rascal     5       7     21       1
2      2       Yes    Coco     8       9     15       6
3      3        No   Greta     8       8     32       0
4      4        No   Benji     2       4     33       0

Second, we'll use `.pivot()` with appropriate arguments to isolate our data of interest and set an index at the same time:

In [105]:
pups_pvt.pivot(index='trickster', columns='name', values='tricks')

name       Benji  Coco  Greta  Rascal  Zinnia
trickster
No           0.0   NaN    0.0     NaN     NaN
Yes          NaN   6.0    NaN     1.0     9.0

Thought question: 'Sup with the NaNs? Why do you think they're there, and how do they differ from the `0.0` values? <br>
Hint: Refer to the respective values in the `tricks` column prior to the pivot.

## Chapter 4

Grouping data

|           |                                       |
|-----------|---------------------------------------|
| `.groupby()` | · Input is column name |
| | · Can then use [] to select the columms on which to perform the aggregation |
| | · Usually chained with an aggregation/reduction method |
| `.agg` | can do several aggregations by passing them as input in the form of a list | 
| `.transform()` | used with .groupby to apply a function to groups of data independently |
| `.apply()` | when used with .groupby, performs a function on each of the groups, then recombines the data back into a series or df |
| `.filter()` | remove whole groups of rows from a df based on a boolean condition |